<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resume/CV Design</title>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mobile.css')}}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="./static/phani.jpg" class="img-fluid" alt="Responsive image">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">PhaniKumar</p>
           <p class="regular">Data scientist</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
               vivekananda nagar <br /> kukatpally
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
               9704546009
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
               phaniroyal9@gmail.com
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-weebly"></i>
             </div>
             <div class="data">
               www.research.com
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               HTML
             </div>
             <div class="skill_progress">
               <span style="width: 80%;"></span>
             </div>
             <div class="skill_per"></div>
           </li>
           <li>
             <div class="skill_name">
               Data science
             </div>
             <div class="skill_progress">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per"></div>
           </li>
              <div class="skill_progress">
               <span style="width: 88%;"></span>
             </div>
             <div class="skill_per"></div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-facebook-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Facebook</p>
               <p>phaninypd@ymail.com</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Twitter</p>
               <p>phaniroyal9@twitter</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-youtube"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Youtube</p>
               <p>everyouth@youtube</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p>phaniroyal9@linkedin</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About </p>
					   Iam an energetic,amitious person who has developed a mature and responsible
approach to any task that i undertake, or situtation that iam presented with.
Iam excellent in working with others to archive a certain objective on time
and with excellence.

         </div>
        <p></p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">EXPERIENCE</p>
         </div>
        <ul>
            <li>
                <div class="date">2020 - Present</div>
                <div class="info">
                     <p class="semi-bold"> Data Scientist.</p>
                  <p>Data scientist!</p>
                </div>
            </li>
              <div class="info">
                     <p class="semi-bold">Innomatics Research labs.</p>
                  <p>Intern in Innomatics research labs!<scp>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
      <ul>
            <li>
                <div class="date">2014 - 2018</div>
                <div class="info">
                     <p class="semi-bold">Aeronautical Engneering (Instute of Aeronautical Engneering College)</p>
                  <p>Quthbullapur,Hyderabad,Telangana!</p>
                </div>
            </li>
						<li>
                <div class="date">2012 - 2014</div>
                <div class="info">
                     <p class="semi-bold">MPC (New science jr college)</p>
                  <p>Kodad,Telangana!</p>
                </div>
            </li>

            <li>
              <div class="date">2000 - 2011</div>
              <div class="info">
                     <p class="semi-bold">St josephs ccr vidyanilayam</p>
                  <p>Kodad,Telangana!</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="resume_item resume_hobby">
      <div class="title">
           <p class="bold">hobbies</p>
         </div>
       <ul>
         <li><i class="fas fa-book"></i></li>
         <li><i class="fas fa-gamepad"></i></li>
         <li><i class="fas fa-music"></i></li>
         <li><i class="fab fa-pagelines"></i></li>
      </ul>
			<div class="resumeone_oneitem resumeone_onehobby">
				<ul>
				 <li><h5><center>reading books</center></h5></li>
				 <li><h5><center>Playing games</center></h5></li>
				 <li><h5><center>Music</center></h5></li>
				 <li><h5><center>Gardening</center></h5></li>
			</ul>
	         </div>
    </div>

  </div>
</div>



</body>
</html>
